/******************** Reset ***********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**** index ***/
.home-page {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.home-page .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
}

.home-page .box {
  background-color: red;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.home-page .box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/****productlist****/
.container {
  max-width: 800px;
  margin: 0 auto;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.product {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 7;
}

.btn {
  display: inline-block;
  padding: 15px;
  background-color: #111;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .product-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/****product****/
.product-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.productContainer {
  max-width: 80%;
  margin: 50px auto;
  background: white;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 40px;
}

.product-page .product-image {
  flex: 1;
}

.product-page .product-image img {
  width: 100%;
  border-radius: 8px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand {
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-page h1 {
  margin: 10px 0 20px 0;
}

.product-page .price {
  font-size: 24px;
  margin: 10px 0;
}

.product-page .old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.discount-price {
  color: #e63946;
  font-weight: bold;
}

.stock {
  margin: 15px 0;
  font-weight: bold;
  color: green;
}

.btn {
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: #111;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #333;
}

/* mobile */
@media (max-width: 768px) {
  .productContainer {
    flex-direction: column;
  }
}
